
.video-info{
  font-family: "Roboto", serif;
font-weight: 500;
font-style: normal;
color: white;

font-size: 14px;
}
.thumbnail{
  width: 100%;
 
}

.video-preview{
  display: inline-block;

}
.channel-pic{
 display: inline-block;
 vertical-align: top;
 width: 50;
 
}
.profile-pic{
 border-radius: 50px;
  width: 36px;
}
.video-info{
  display: inline-block;
  width: 100%;
  

  
}
.video-title{
  margin-top: 0;
  line-height: 20px;
  margin-bottom: 10px;
  color: black;

}
.thumbnail-row{
  margin-bottom:8px;
  position: relative;

}
.video-author{
  font-size: 12px;
  color: rgb(151, 147, 147);
  margin-bottom: 4px;
}
.video-stats{
  color:rgb(151, 147, 147);
  font-size: 12px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
 
}
.video-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  row-gap:50px ;
  column-gap: 15px;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  font-family:"Roboto", serif;
 padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
padding-top: 4px;
border-radius: 2px;
   
}